* {
    color: black;
    background-color: peachpuff;
    font-family: sans-serif;
    font: Garamond, Arial;
}

a {
    color: blue;
    text-decoration: none;
}

 a:hover {
    color: aqua;
}

img {
    width: 300px;
    height: 300px;
}

h2, p, ul, ol {
    margin-left: 5%;
    margin-right: 5%;
    background-color: inherit;
}

li, strong {
    background-color: inherit;
}

h1, h3 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-radius: 25px;
}

table img {
    height: auto;
    width: 95%;
    object-fit: cover;
}

h1 {
    font-size: 100px;
    font-family: 'Arizonia', 'Brush Script MT', cursive;
    margin-bottom: 0px;
}
/**Homepage Header**/

h2 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Arizonia', 'Brush Script MT', cursive;
}
/**Recipe Header**/

h3 {
    margin-top: 0px;
}

.food {
    font-size: 60px;
    margin-top: 0px;
    background-color: inherit;
    margin-left: 20%;
    margin-right: 20%;
}

table {
    table-layout: fixed;
    width: 100%;
}

th {
    width: 33%;
}

.recipe {
    background-color: white;
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-radius: 25px;
}